<nav class="fixed w-full bg-white z-10">
    <ul class="gap-10 flex justify-center items-center">
        <li class="w-full border-b-2 border-transparent hover:bg-zinc-200" routerLinkActive="active">
            <a routerLink="/geral" ariaCurrentWhenActive="page" class="py-5 flex flex-col items-center">
                <lucide-icon name="UserRound"></lucide-icon>
                <span>Laudo Geral</span>
            </a>
        </li>
        <li class="w-full border-b-2 border-transparent hover:bg-zinc-200" routerLinkActive="active">
            <a routerLink="/homeComputador" class="py-5 flex flex-col items-center">
                <lucide-icon name="pc-case"></lucide-icon>
                <span class="text-center">Laudo Computador</span>
            </a>
        </li>
        <li class="w-full border-b-2 border-transparent hover:bg-zinc-200" routerLinkActive="active">
            <a routerLink="/homeCelular" ariaCurrentWhenActive="page" class="py-5 flex flex-col items-center">
                <lucide-icon name="smartphone"></lucide-icon>
                <span>Laudo Celular</span>
            </a>
        </li>
    </ul>
</nav>
